/* Basics 
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}*/
:root{
    --blue: #00AEEF;
    --green: #A6CE39;
}

h1,h2,h3,h4,h5,h6,p{
    color: #333;
}

.navbar-brand{
    width: 100px;
    height: 100px;
    background: url("../img/logo.svg") no-repeat center;
    background-size: contain;
}
/*
.navbar-nav{
    position: absolute;
   top: 90px;
   right: 80px;
}
*/
.nav-link{
    margin: 0 7px;
}

.nav-item a{
  font-size: 14px;
  font-weight: bold;
    color: var(--blue) !important;
}

.nav-item a:hover, .nav-link.active{
    color: #fff !important;
    background: var(--blue);

}



.header{
    background: url("../img/s02.jpg") no-repeat center;
    background-size: cover;
    padding: 100px;
    text-align: center;
}

.header h1{
    width: 500px;
    margin: auto;
    padding: 30px 10px;
    border-radius: 20px;
    background: rgba(3, 3, 3, 0.4);
    color: #fff;
}

.donatebar{
    background: var(--green);
    text-align: center;
}

.leftPic{
    background: var(--blue);
    text-align: center;
}

.leftPic h2, .leftPic p{
    color: #fff;
}