/* Basics */
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.header{
    margin-top: 70px;
}

.header img{
    position: relative;
}

.header h1{
    position: absolute;
    margin: auto;
    top: 40%;
    left: 40%;
    padding: 10px;
    border: white 2px solid;
    background-color:black;
    opacity: 0.6;
    color: white;
}