/* Basics 
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}*/
:root{
    --blue: #00AEEF;
    --green: #A6CE39;
}

.navbar-brand{
    width: 150px;
    height: 150px;
    background: url("../img/logo.svg") no-repeat center;
    background-size: contain;
}
.navbar-nav{
    position: absolute;
   top: 125px;
   right: 80px;
}

.nav-link{
    margin: 0 7px;
}

.nav-item a{
  font-size: 1.5rem;
  font-weight: bold;
    color: var(--blue) !important;
}

.nav-item a:hover{
    color: #fff !important;
    background: var(--blue);

}

.donate{
    display: block;
    position: absolute;
    top: 5px;
    right: 80px;
}

.header{
    margin-top: 150px;
    background: url("../img/s02.jpg") no-repeat center;
    background-size: cover;
    padding: 150px;
    text-align: center;
}

.header h1{
    width: 500px;
    margin: auto;
    padding: 20px 10px;
    border: #fff 3px solid;
    border-radius: 20px;
    background: rgba(3, 3, 3, 0.4);
    color: #fff;
}

.statcard{
    border: #000 2px solid;
    text-align: center;
}

.donatebar{
    background: var(--green);
    height: 250px;
}